.App {
  text-align: center;
  background-image: url("./images/prism.png");
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.intro-div {

  margin: 3% 5%;
  padding: 4%;
  background: rgb(116, 11, 235);
  color: white;
  box-shadow: 0 4px 8px 0
   rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro-div img {

  max-width: 40vw;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
}

.skills-div {

  background: grey;
  margin: 0 5% 3% 5%;
  padding: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-div {

  background: black;
  color: white;
  margin: 0 5% 3% 5%;
  padding: 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
